watch_file pnpm-lock.yaml
watch_file pnpm-workspace.yaml
watch_file result
use flake

if [ -d "$PWD/result/bin" ]; then
  PATH_add "$PWD/result/bin"
fi

if [ -d "$PWD/bin" ]; then
  PATH_add "$PWD/bin"
fi
